<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        @if (ViewBag.type == 2)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="updateuser" asp-route-id="@ViewBag.id">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/viewAllProduct">Orders History</a>
            </li>
        }
        @if (ViewBag.type == 1)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Components/Customer/Index">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Components/Category/Index">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Components/Supplier/Index">Suppliers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Components/ProductAdmin/Index">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-page="/Components/Order/Index">Orders</a>
            </li>
        }
    </ul>
    <ul class="navbar-nav box-login">
        @if (ViewBag.username == null)
        {
            <li class="nav-item btn-list-item">
                <a class="nav-link text-dark btn-secondary2" asp-area="" asp-page="/Login">Sign In</a>
            </li>
            <li class="nav-item btn-list-item">
                <a class="nav-link text-dark btn-primary1" asp-area="" asp-page="/Register">Sign Up</a>
            </li>
        }
        else
        {
            <li class="nav-item btn-list-item">
                <span class="nav-link text-dark">Welcome @ViewBag.fullname</span>
            </li>
            <li class="nav-item btn-list-item">
                <a class="nav-link text-dark btn-primary1" asp-area="" asp-page="login" asp-page-handler="logout">Logout</a>
            </li>
        }

    </ul>
</div>